.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* 容器宽度为父容器的80% */
    height: auto; /* 容器高度固定为500px */
    margin: auto; /* 水平居中显示 */
}
 
.image-container img {
    margin: 50px; /* 设置间距为20px */
}