.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.image-container img {
    margin: 50px; /* 设置间距为20px */
    width: 50%; /* 设置图片宽度为容器的50% */
    height: 50%; /* 高度自动调整以保持图片比例 */
}